*{
    background: rgb(1, 34, 1);
    color: wheat;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
button{
    border: 2px solid rgb(68, 184, 14);
    background: wheat;
    color: black;
    border-radius: 6px;
}
button:hover{
    cursor: pointer;
    background-color: yellow;
}
